@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&family=Passion+One:wght@700&family=Roboto&display=swap');

:root {
  --color-green: #cddc39;
  --dark-grey: #27292d;
  --color-grey: rgba(255, 255, 255, 0.65);
  --lightest-grey: #ffffffe6;
  --medium-grey: #383b40;
}

body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-grey);
  color: var(--color-grey);
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
