@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&family=Passion+One:wght@700&family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --gree: #cddc39;
  --dark-grey: #27292d;
  --grey: rgba(255,255,255,.65);
  --lightest-grey: #ffffffe6;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}
